TOWER_RUNTIME_ROLE=git-identity-reconciler
NODE_ENV=production

GIT_INTERNAL_SERVICE_TOKEN=REPLACE_WITH_THE_TOWER_API_INTERNAL_SERVICE_TOKEN
GIT_FORGEJO_IDENTITY_TOKEN=REPLACE_AFTER_BOOTSTRAPPING_THE_FORGEJO_IDENTITY_ACCOUNT
GIT_FORGEJO_BASE_URL=http://srv-captain--tower-stable-forgejo-provider:3000
GIT_GATEWAY_TOWER_URL=http://srv-captain--tower-stable-api:3100
