TOWER_RUNTIME_ROLE=git-issue-broker
NODE_ENV=production
PORT=3190

GIT_FORGEJO_BASE_URL=http://srv-captain--tower-stable-forgejo-provider:3000
GIT_ISSUE_BROKER_TOKEN=REPLACE_WITH_THE_TOWER_API_ISSUE_BROKER_TOKEN
GIT_ISSUE_BROKER_PORT=3190
